body{
  background: #333;
  font-family: 'Roboto', sans-serif;
}

.ToDoContainer{
  text-align: center;
  line-height: 1.4;
  padding: 1rem;
  background: goldenrod;
  width: 30%;
  margin: 50px auto;
}

.newList{
  
  display: flex;
  text-align: left;
  background: #e8cc4a;
  margin: 1rem auto;
  padding: 1rem;
  line-height: 1;
  border-radius: 5px;
  width: 60%;
  max-height: 100%;
  font-size: 20px;
  
}

.newList>a{
  margin-left: auto;
  text-decoration: none;
  padding: 3px;
  font-weight: bold;
  opacity: 0.5;
}

.newList>a:hover{
  opacity: 1;
}


.newToDo{
  list-style: none;
  padding: 0;
}














































































